* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f6f9fc;
    overscroll-behavior-y: none;
}

#main_container {
    background-color: #f6f9fc;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 10px;
}

#nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 60px;
    width: 50%;
    margin: 0 auto;
    background-color: #f6f9fc;
    color: black;
    padding: 10px;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about {
    border-top: 1px solid lightgray;
    padding-top: 2rem;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 1px solid lightgray;
    padding-top: 2rem;
}

.experience-card {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
}

.company-logo {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    margin-right: 20px;
}

.card-intro {
    display: flex;
    flex-direction: column;
    /* gap: 0.2rem; */
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.company-name {
    color: black;
}

.job-role {
    font-weight: bold;
}

.date-location {
    color: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: red;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: gray;
}
