@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.nav { 
	color: #687594; 
	font-size: 15px;
	font-weight: 900;
	line-height: 28px; 
	text-transform: uppercase; 
	cursor: pointer;
} 

.nav::before { 
	margin-right: 15px;
	content: '';
	position: relative;
	display: inline-block;
	width: 25px;
	height: 1.5px;
	vertical-align: top;
	margin-top: 12px;
	background-color: #687594;
	transition: width 0.1s;
}

.nav:hover {
	color: white;
}

.nav:hover:before {
	width: 50px;
	background-color: white;
  }

body {
	margin: 0;
	padding: 0;
    background: #0e1830;
    font-family: 'Yantramanav', sans-serif;
    overflow-x: hidden;
}

#blob {
	background-color: white;
	height: 100%;
	aspect-ratio: 1;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: radial-gradient(#0f1f45, #0e1830);
	filter: blur(50px);
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-weight: 500;
    font-size: 35px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
}

p {
    color: #95a2bf;
    font-weight: 400;
}

.dosis {
    font-family: 'Dosis', sans-serif;
	font-size: 14px; 
	font-weight: 400; 
	color: #95a2bf
}

.intro {
    font-size: 18px;
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transition: transform 1s, filter 1s;
    transform: translateX(-100%);
}

.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transition: transform 1s, filter 1s;
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.grid-container {
    position: absolute; 
    left: 50%; 
    /* top: 9vh; */
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 5em; */
}

.info-container {
	position: fixed; 
	left: 20vw; 
	top: 8vh; 
	width: 25%; 
	color: #fff;
}

.about-container {
	padding-top: 10vh;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    margin: 5px;
    padding: 5px;
	padding-top: 10vh;
}

.experience {
	display: flex; 
	align-items: baseline; 
	justify-content: space-between;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    margin: 5px;
    padding: 5px;
	padding-top: 10vh;
	pointer-events: none;
}

.project {
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	gap: 2em;
}

.projects-container > * {
	pointer-events: auto;
}

.projects-container:hover > * {
	opacity: 0.4;
}

.projects-container:hover > *:hover {
	opacity: 1;
}

.contact-container {
    margin: 5px;
    padding: 5px;
	padding-top: 10vh;
}

/* Form */
.form-style-5{
	max-width: 500px;
    width: 75%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: 'Yantramanav', sans-serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: 'Yantramanav', sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	/* -webkit-appearance: menulist-button; */
	height:35px;
}
.form-style-5 .number {
	background: #152345;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #152345;
	font-size: 18px;
	text-align: center;
	font-style: normal;
    border-radius: 4px;
	width: 100%;
	border: 1px solid #000;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #fff;
    color: #152345;
    border-color: #152345;
}

.card {
    padding-left: 20px;
	border-color: transparent;
	border-width: 0.1px;
	border-style: solid;
	border-radius: 5px;
}

.card:hover {
	color: #14dbc1;
	background: #172545;
	border-color: #102947;
	border-width: 0.1px;
	border-style: solid;
	border-radius: 5px;
}

.card a::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
  }